section::-webkit-scrollbar {
  width: 15px;
}

section::-webkit-scrollbar-track {
  background: #a6a6a6;
  box-shadow: inset 0 0 5px rgb(58, 41, 95) ;
  border-left: black 1px solid;
}

section::-webkit-scrollbar-thumb {
  background: #5f4d63;
  border-radius: 10px;
}