body {
    margin: 0;
    padding: 60px 100px 20px;
}

.menu-list {
    float: right;
}

.menu-list li {
    display: inline-flex;
    margin: 0px;
    padding: 20px;
}

.dog {
    height: 150px;
}

header h1 {
    margin: 100px 0;
}

.round-white-box {
    margin-bottom: 3vw;
}

.main-flexbox {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.main-textbox {
    width: 20vw;
    padding: 0 50px;
    margin: 2vw;  
}

.main-image {
    height: 25vw;
    margin: 18px;  
}

.main-button {
    display: inline-block;
    padding: 11px 0px;
    text-align: center;
    width: 20vw;
    margin: 2vw 0;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .menu-list li{
        display: none;
    }
    .menu-list{
        width: 8.5%;
        flex-direction: column;
        justify-content: start;
    }
    .line{
        display: block;
        width: 50px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 20px;
        padding: 5px;
    }
}
