
body {

	background-color:cornflowerblue;
	color:white;
}

.headline {
	color:indianred;
	font-size:large;
	text-decoration: underline;
	text-align: center;
	font-style: italic;
	border-bottom: 2px solid indianred;
}

.menu-list{
	margin: 20px;
}

.image-text-box{
	display: flex;
	align-items:top;
}

img{
	width: 20%;
	height: 10%;
	margin-right: 10px;
}

.text-box{
	text-align:center;
}