
body {

	background-color:cornflowerblue;
	color:white;
}

.headline {
	color:indianred;
	font-size:large;
	text-decoration: underline;
	text-align: center;
	font-style: italic;
	border-bottom: 2px solid indianred;
}

.menu-list{
	margin: 20px;
}

@keyframes bounce {
	10% {left: 100px}
	20% {left: 100px}
	30% {left: 100px}
}

img{
	width: 20%;
	height: 25%;
	position: relative;
	animation: bounce infinite;
	animation-duration: 4s;
	animation-delay: 1s;

}


.text-box{
	text-align:center;
}