
body {

	background-color:blanchedalmond;
	color:darkgreen;
}

.headline {
	color:blueviolet;
	text-decoration: underline;
	font-size:large;
	text-align: center;
	font-style: italic;
}

.menu-list{
	margin: 20px;
	flex-direction: row;
}