section{
    background-color:darkslategrey; 
    color: ghostwhite;"
    margin: 0px;
}

aside{
    background-color: indigo;
    margin: 0px;
}
img{
    display:inline-block;
    width: 3%;
    height: 3%;
}