section{
    background-color:darkslategrey; 
    color: ghostwhite;"
    margin: 0px;
}

aside{
    background-color: indigo;
    margin: 0px;
}
img{
    display:inline-block;
    width: 10%;
    height: 10%;
}
.text1{
    text-align: right;
    border: white, solid, 1px;
    display: inline-block;
}

.bpag{
    text-align: left;
}